<br/>
<div class="container">
  <div class="card">
    <h5 class="card-header">Déclarer un problème</h5>
    <div class="card-body">
      <h5 class="card-title">Veuillez renseignez les zones suivantes et soumettre votre demande</h5>
      <div class="card-text">
        <form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="problemeForm">
          <div class="form-group row">
            <label for="prenominput" class="col-md-2 col-form-label text-right">Prénom :</label>
            <div class="col-md-10">
              <input class="form-control" id="prenom" type="text" placeholder="Prénom" formControlName="prenom" 
              [ngClass]="{'is-valid': (problemeForm.get('prenom').touched || 
              problemeForm.get('prenom').dirty) &&
              problemeForm.get('prenom').errors.longueurMin,
              'is-invalid': (problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) &&
              !problemeForm.get('prenom').errors.longueurMin}"
              />
              <span class="form-text" *ngIf="problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty && problemeForm.get('prenom').errors">

                <span *ngIf="problemeForm.get('prenom').errors.required || !problemeForm.get('prenom').errors.espace">
                  <small class="text-muted">
                    Merci de saisir votre prénom.
                  </small>
                </span>
                <span *ngIf="!problemeForm.get('prenom').errors.longueurMin">
                  <small class="text-muted">
                    Veuillez entrer plus de caractères.
                  </small>
                </span>
              </span>
            </div>
          </div>

          <div class="form-group row">
            <label for="noCategorieID" class="col-md-2 col-form-label text-right">Catégorie : </label>
            <div class="col-sm-10">
              <select class="form-control"
                id="noCategorieID"
                formControlName="noCategorie">
                  <option value="">Sélectionner un type de problème</option>
                  <option *ngFor="let cat of typesprobleme" [value]="cat.id">{{cat.descriptionTypeProbleme}}</option>

              </select>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>